.my-horizontal-card {
  border-radius: 0;
  margin: 10vh auto;
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px; */
}

.video-toutube {
  max-width: 350px;
  height: 350px;
  display: block;
  margin-left: auto;
  margin-right: auto
}

.my-flex-column {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}