.row1-footer{
  align-items: center;
}
.row1-icon{
  line-height: 2;
}

ul {
  margin: 0px;
  padding: 0px;
}

.footer-section {
  background: var(--background-color)

}

.footer-cta {
  border-bottom: 1px solid #373636;
}

.single-cta i {
  color: var(--text-on-background);
  font-size: 40px;
  /* float: left; */
  margin-top: 8px;
}

.span-footer{
  font-size: 1.3em !important;
  line-height: 2;
}

.cta-text {
  /* padding-bottom: 15px; */
  padding-left: 15px;
  display: inline-block;
}

.cta-text h4 {
  color: var(--text-on-background);
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
}

.cta-text span {
  color: var(--text-on-background);
  font-size: 15px;
}

.footer-content {
  position: relative;
  z-index: 2;
}

.footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
}

.footer-logo {
  margin-bottom: 30px;
}

.footer-logo img {
  max-width: 200px;
}

.footer-text p {
  margin-bottom: 14px;
  font-size: 14px;
  color: var(--text-on-background);
  line-height: 28px;
}

.footer-social-icon span {
  color: var(--text-on-background);
  display: block;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 20px;
}
.newletter-inscription{
  color: var(--text-on-background);
  display: block;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 20px;
}

.footer-social-icon a {
  color: #fff;
  font-size: 16px;
  margin-right: 15px;
}

.footer-social-icon i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
}
@media (max-width: 990px){
  .cta-text{
    padding-left: 0;
    /* padding-top: 10px; */
  }
}


@media (max-width: 1000px) {
  .footer-social-icon i {
    margin-bottom: 20px; /* add this */
  }

}

.facebook-bg {
  background: #3B5998;
}

.twitter-bg {
  background: #55ACEE;
}

.google-bg {
  background: #DD4B39;
}
.instagram {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
}

.footer-widget-heading h3 {
  color: var(--text-on-background);
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
}

/* .footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 1px;
  width: 100%;
  background: var(--vert-color);
} */

@media (max-width: 991px) {
  .footer-widget-heading h3::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -15px;
    height: 1px;
    width: 100%;
    background: var(--vert-color);
  }

}

.footer-widget ul li {
  display: inline-block;
  width: 50%;
  margin-bottom: 12px;
  float: left;
}

.footer-widget ul li a:hover {
  /* color: #ff5e14; */
  color:var(--black-color)
}

.footer-widget ul li a {
  color: var(--text-on-background);
  text-transform: capitalize;
}

.subscribe-form {
  position: relative;
  overflow: hidden;
}

.subscribe-form input {
  width: 100%;
  padding: 14px 28px;
  background: var(--background-color);
  border: 1px solid #2E2E2E;
  color: var(--text-on-background);
}

.subscribe-form button {
  position: absolute;
  right: 0;
  /* background: #ff5e14; */
  background: var(--black-color);
  padding: 13px 20px;
  /* border: 1px solid #ff5e14; */
  border:1px solid var(--background-color);
  top: 0;
}

.subscribe-form button i {
  color: #fff;
  font-size: 22px;
  transform: rotate(-6deg);
}

.copyright-area {
  background: var(--background-color);
  padding: 25px 0;
}

.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: var(--text-on-background);
}

.copyright-text p a {
  /* color: #ff5e14; */
  color: var(--black-color)
}

.footer-menu li {
  display: inline-block;
  margin-left: 20px;
}

.footer-menu li:hover a {
  /* color: #ff5e14; */
  color: var(--black-color) !important
}

.footer-menu li a {
  font-size: 14px;
  color: var(--text-on-background);
}

#logoFooter{
  width: 60px;
  height: 60px;
}

#logoText{
  color: var(--text-on-background);
  font-size: 28px;
}


.link-email{
  text-decoration: none;
  color: #2E2E2E;
}