.arrow-down-icon {
  position: absolute;
  padding-top: 130px;
  color: rgb(0, 0, 0);
}

.my-underline{
  text-decoration: underline;
  text-decoration-color: var(--vert-color);
}

.text p {
  /* background-color: rgba(240, 238, 235, 0.6); */
  font-weight: bold;
}

.text h3 {
  font-weight: bold !important;
}

.contact {
  position: relative;
  height: 100vh;
  padding-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.contact .content {
  text-align: center;
}

.contact .content h2 {
  font-size: 36px;
  font-weight: 500;
  color: var(--black-color);
}


.contact .content p {
  font-size: 20px;
  font-weight: 500;
  color: #fff;
}

.container-contact {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 10px;
  /* align-items: center; */
}


.wrong-input{
  border-color: red !important;
}
.good-input{
  border-color: #263849 !important;
}
.good-valid{
  color: #666;
}
.wrong-valid{
  color:red !important;
}

.container-contact .contactInfo {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.container-contact .contactInfo .box {
  position: relative;
  padding: 20px 0;
  display: flex;
  align-items: center;
  margin: 5px;
}

.container-contact .contactInfo .box .icon {
  min-width: 90px;
  height: 90px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 22px;
}

.container-contact .contactInfo .box .text {
  display: flex;
  margin-left: 20px;
  font-size: 16px;

  flex-direction: column;
  font-weight: 300;
}

.container-contact .contactInfo .box .text h3 {
  font-weight: 500;
  color: var(--black-color)
}

.contactform {
  width: 50%;
  padding: 40px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
}

.contactform h2 {
  font-size: 30px;
  color: #333;
  font-weight: 500;
}

.contactform .inputBox {
  position: relative;
  width: 100%;
  margin-top: 10px;
}

.contactform .inputBox input,
.contactform .inputBox textarea {
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 1px solid #263849;
  outline: none;
  resize: none;

}

.contactform .inputBox span {
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.5s;
  color: #666;
}

.contactform .inputBox input:focus~span,
.contactform .inputBox input:valid~span,
.contactform .inputBox textarea:focus~span,
.contactform .inputBox input:valid~span {
  color: #263849;
  font-size: 12px;
  transform: translateY(-20px);
}

.contactform .inputBox input[type="submit"] {
  width: 100px;
  /* background: var(--vert-color) !important; */
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
  border-radius: 5px;
}

@media (max-width: 991px) {


  .container-contact {
    flex-direction: column;
    align-items: center;
  }

  /* .container-contact .contactInfo {
    margin-bottom: 40px;
  } */

  .container-contact .contactInfo,
  .contactform {
    width: 90%;
  }
}







.brand-logo {
  margin-top: 15px;
  margin-bottom: 15px;
  max-height: 70px;
}
.brand-logo-rolex{
  background-image: url(../../img/logo2/rolex.png);
  width: 100%;
  height: 100px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.brand-logo-omega{
  background-image: url(../../img/logo2/omega.png);
  width: 100%;
  height: 100px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.contactInfo{
  padding: 20px;
}

.inputValidator{
  color: red;
  font-size: 10px;
}