
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
.logo-watch {
  height: 40px;
  width: 40px;
}

.logo-nav-div {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  background-color: var(--background-color);
  font-size: 1.3em;
}

.my-navbar {
  background-color: var(--background-color);
}

.active {
  color: var(--vert-color)!important;
  text-decoration: underline !important;
  border-color: #a9a6a1;
}

.nav-link {
  font-size: 1.3em;
}
.majuscule-title{
  font-size: 1.5em;
  font-family: 'Dancing Script', cursive;
}
