.title-div {
  text-align: center;
  background-color: var(--background-color);
  /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
  min-width: 100vw;
  padding-top: 20px;

}

.title-div h1 {
  color: var(--text-on-background);
  width: 80%;
  margin: auto;
}

.title-div p{
  width: 80%;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.titre-link{
  color: black;
}