


.parallax {
  position: relative;
}

.parallax-section {

  margin: 500px 0;

  position: relative;
}

.parallax::before {
  content: "";
  background-image: url("../img//rolex-para.jpg");

  position: fixed;

  height: 100vh; 
  width: 100vw;
  z-index: -1;
  top: 0;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
