.social-media-a:after,
.social-media-a:before {
  content: "";
  position: absolute;
  transition: 0.5s;
}

.social-media-div {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 15vh;
  background-color: var(--background-color-body);
  padding-bottom: 10vh;
}

.social-media-ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.social-media-li {
  list-style: none;
  margin: 0 40px;
}

.linkedin-a {
  background-color: #007bb5;
}

.linkedin-a:before {
  background-color: #006a9c;
}

.linkedin-a:after {
  background-color: #0089c9;
}

.facebook-a {
  background-color: #1877f2;
}

.facebook-a:before {
  background-color: #0d6ae4;
}

.facebook-a:after {
  background-color: #2b82f3;
}

.instagram-a {
  background-color: #c32aa3;
}

.instagram-a:before {
  background-color: #ae2591;
}

.instagram-a:after {
  background-color: #d22fb0;
}

.twitter-a {
  background-color: #1da1f2;
}

.twitter-a:before {
  background-color: #0d95e8;
}

.twitter-a:after {
  background-color: #30a9f3;
}

.youtube-a {
  background-color: #ff0000;
}

.youtube-a:before {
  background-color: #e60000;
}

.youtube-a:after {
  background-color: #ff1414;
}

.social-media-li:hover .fab {
  color: #fff;
}

.social-media-a {
  position: relative;
  display: block;
  width: 80px;
  height: 80px;
  text-align: center;
  box-shadow: -20px 20px 10px rgba(0, 0, 0, 0.5);
  transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(0, 0);
  transition: 0.5s;
}

.social-media-a:before {
  top: 10px;
  left: -20px;
  height: 100%;
  width: 20px;
  transform: rotate(0deg) skewY(-45deg);
}

.social-media-a:after {
  bottom: -20px;
  left: -10px;
  height: 20px;
  width: 100%;
  transform: rotate(0deg) skewX(-45deg);
}

.social-media-a:hover {
  transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(20px, -20px);
  box-shadow: -50px 50px 50px rgba(0, 0, 0, 0.5);
}

.social-media-icone {
  font-size: 40px;
  color: #262626;
  line-height: 80px;
  transition: 0.5s;
}

@media screen and (max-width: 770px){
    .social-media-a {
      width: 30px;
      height: 30px;
    }
    .social-media-icone {
      font-size: 17px;
      line-height: 31px;
    }
    .social-media-li {
      margin: 0 20px;
    }
}
